In [15]:
# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [16]:
# Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [17]:
# Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

In [18]:
# Exercise 10 - Insert a markdown cell to list Objectives

**Objective**
- List popular languages for data science
- List common libraries used for data science
- List common data science tools
- Test a simple numeric expression
- Test various useages of markdown expressions

In [19]:
# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. ggplot
5. Matplotlib

In [20]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
-------
Jupyter Notebook
Rstudio
Jupyter Lab

In [21]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [22]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [23]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [24]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [25]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [26]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Shunichi Miyazu